
p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

body {
    background-color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #434455;
    margin: 0; 
}
ul,ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    max-height: auto;
}
a {
    text-decoration: none;
}
h2 {
    color: #2E2F42;
    font-size: 36px;
    line-height: 111.111%;
    font-weight: 700;
    letter-spacing: 0.72;
    text-transform: capitalize;
}
.container {
    width: 1158px;
    padding: 0 auto;
    margin: 0 auto;
    align-content: center;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
/* Header */
.head-container {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}
.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 117%;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.logo-studio {
    color: #2e2f42;
}
.nav-menu {
    color: #2e2f42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    display: flex;
    gap: 40px;
    
}
.logo {
    margin-right: 36px;
}
.nav-menu-item {
    color: #2e2f42;
        
}
.nav-menu-item:hover, .nav-menu-item:focus {
    color: #404bbf;
}

.contacts-menu-item {
    font-weight: 500;
        color: #434455;
        letter-spacing: 0.02em;
        line-height: 1.5;
}
.contacts-menu {
    font-style: normal;
        display: inline-flex;
        gap: 40px;
        margin-left: 332px;  
}
.contacts-menu-item:hover, .contacts-menu-item:focus {
    color: #404bbf;
}
/* Order section */
.order-container {
   padding-top: 188px;
   padding-bottom: 292px;
    
}
.order-sec {
    background-color: #2E2F42;
}
.order-title {
    display: block;
    color: #FFF;
    font-size: 56px;
    line-height: 107.143%;
    letter-spacing: 1.12px;
    text-align: center;
    margin-bottom: 48px;
}
.order-button {
    display: block;
    margin: 0 auto;
    color: #FFF;
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.64px;
    cursor: pointer;
    padding: 16px 32px 16px 32px;
    border-radius: 4px;
    
}
.order-button:hover, .order-button:focus {
    background-color: #404BBF;
}
/*benefits*/
.container-menu {
display: flex;
flex-wrap: nowrap;
gap: 24px;
align-content: center;

}
.benefits h3 {
    color: #2E2F42;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.4px;
    
}
.benefits p {
    line-height: 150%;
    letter-spacing: 0.32px;
}
.benefits-title {
    font-weight: 500;
}
/* Our team */
.team {
    background-color: #F4F4FD;
}
.team h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
}
.team p {
    line-height: 150%;
    letter-spacing: 0.32px;
}
/* Our Portfolio */
.container-menu-portfolio {
    display: flex;
        flex-wrap: wrap;
        gap: 24px;
        align-content: stretch;
}
.portfolio h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
}
.title-h {
    text-align: center;
    letter-spacing: 0.02em;
    padding-bottom: 72px;
}
.menu {
    background-color: #FFFFFF;
}
.portfolio p {
    line-height: 150%;
        letter-spacing: 0.32px;
}
.border-port {
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
}

/*footer*/
footer {
    background-color: #2E2F42;
}
footer p {
    line-height: 150%;
    letter-spacing: 0.32px;
}
.logo-studio-foot {
    color: #f4f4fd;
}
.p-foot {
    color: #f4f4fd;
}
